<html>
  <head>
    <style>
      table.board td { height: 64px; width: 64px; }
      img.piece { height: 64px; width: 64px; }
      tr:nth-child(odd) td:nth-child(odd),
      tr:nth-child(even) td:nth-child(even) { background-color: black; }
    </style>
  </head>
  <body>
    <table class="board">
    <tr>
      <th>a</th><th>b</th><th>c</th><th>d</th>
      <th>e</th><th>f</th><th>g</th><th>h</th>
    </tr>
    {% for row in board %}
      <tr>
        {% for char in row %}
          <td>
            {% if char == 'N' %}
              <img class="piece" src="/static/White_Knight.png">
            {% elif char == 'B' %}
              <img class="piece" src="/static/White_Bishop.png">
            {% elif char == 'R' %}
              <img class="piece" src="/static/White_Rook.png">
            {% elif char == 'K' %}
              <img class="piece" src="/static/White_King.png">
            {% elif char == 'Q' %}
              <img class="piece" src="/static/White_Queen.png">
            {% elif char == 'P' %}
              <img class="piece" src="/static/White_Pawn.png">
            {% elif char == 'n' %}
              <img class="piece" src="/static/Black_Knight.png">
            {% elif char == 'b' %}
              <img class="piece" src="/static/Black_Bishop.png">
            {% elif char == 'r' %}
              <img class="piece" src="/static/Black_Rook.png">
            {% elif char == 'k' %}
              <img class="piece" src="/static/Black_King.png">
            {% elif char == 'q' %}
              <img class="piece" src="/static/Black_Queen.png">
            {% elif char == 'p' %}
              <img class="piece" src="/static/Black_Pawn.png">
              
            {% else %}
              {{ char }}
            {% endif %}
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
  </body>
</html>
